<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            Commodity API
        </title>
    </head>
    <body>
        <h3>
            Price Market
        </h3>
        <p>
            <form action="/commodity" method="post">
                State: <input type="text" name="state">  <br />
                District: <input type="text" name="district" />
                Commodity: <input type="text" name="commodity" />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>